* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  background: hsl(185, 75%, 39%);
  overflow: hidden;
}
.circle-top {
  position: absolute;
  top: -530px;
  left: -300px;
  z-index: -1;
}

.circle-bottom {
  position: absolute;
  z-index: -1;
  bottom: -570px;
}

.card {
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  font-family: "Kumbh Sans", sans-serif;
  border-radius: 15px;
}
.top-card {
}
.top-card img {
  border-radius: 15px 15px 0 0;
  max-width: 100%;
  display: block;
}
.card .body-card .pp {
  background: url(../images/image-victor.jpg) center center / cover no-repeat;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  position: absolute;
  top: -45px;
  z-index: 2;
}

.circle-pp {
  height: 105px;
  width: 105px;
  position: absolute;
  top: -50px;
  border-radius: 50%;
  z-index: 1;
  background: white;
}

.body-card {
  height: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: white;
}

.body-card p {
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}
.body-card p span {
  font-weight: normal;
  font-size: 16px;
}
.body-card span {
  padding-bottom: 2rem;
}

.body-bottom {
  display: flex;
  justify-content: center;
  height: 90px;
  background: white !important;
  border-radius: 0 0px 15px 15px;
  border-top: 1px solid rgb(209, 209, 209);
}
.body-bottom p {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.body-bottom span {
  font-weight: 400;
}

.attribution {
  margin-top: 5rem;
}

.followers,
.likes,
.photos {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  font-size: 12px;
}
